body {
    /* background: #0e101c; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    color: black;
  }
  
  .h1 {
    margin-top: 80px;
    color: #0e101c;
    font-size: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 98, 148);
  }
  
  .h4 {
    font-weight: 500;
  }
  .form {
    margin: 0 auto;
  }
  
  .p {
    color: #bf1650;
    text-align: center;
  }
  


  .selectclass {
    width: 70% !important;
  }

  /* .for-red--line {
    border-bottom:solid 1px red !important;
  } */

  .margin-set {
    margin-top: 10px;
  }
   
  div > label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 0px;
    margin-top: 0px;
    color: blueviolet !important;
    font-size: 14px;
    font-style: bold;
    font-weight: 800 !important;
  }

  /* div > SingleSelect {
    width: 70%;
  } */
  
  .button {
    background: cornflowerblue;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0px;
    display: inline-block;
    appearance: none;
    border-radius: 2px;
    width: -moz-fit-content;
    width: fit-content;
}
  
  .buttonBlack {
    background: white;
    border: 1px solid #0e101c;
  }

  .main {
    height: 100vh;
    width: 100vw;
    background:linear-gradient(-45deg,#E73C7E,transparent);
  }

  div > p {
    color: green;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    gap: 10px;
    border: 2px solid antiquewhite;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 50%;
    background-color: ghostwhite;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
  }
  
  .counter {
    font-weight: 400;
    background: black;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999999;
    border: 1px solid rgb(79, 98, 148);
    box-shadow: 0 0 4px rgb(79, 98, 148);
  }
  